
body {
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    font-family: "PT Sans", "Arial", sans-serif;
    color: #000000;
    background: #f2f2f2;
    text-transform: uppercase;
}

/* Общие стили */

.header-main,
.main-basic,
.page-footer {
    margin: 0 auto;
    width: 1200px;
    box-shadow: 0 0px 15px 0px rgb(180, 180, 180);
}

.wrapper {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.clearfix:after {
    content: '';
    display: table;
    clear: both;
}
.developer .developer-logo {  
    width: 123px;
    height: 49px;
    background-image: url(../img/academy.png);
    background-repeat: no-repeat;
    margin-left: 2px;
}
.developer a {
    align-items: center;
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    line-height: 26px
}
.developer {
    padding-right: 98px;
}


/* Header */


.main-header-logo {
    position: absolute;
    margin: 0;
    top: 0;
    left: 600px;
}
.nav-header { 
    display: block;
    list-style: none;
    padding: 0;
    background-color: #ffffff;
}

.nav-header li { 
    display: inline-block;
    width: 275px;
    padding: 14px 20px 16px;
    line-height: 26px;
    vertical-align: top;
    box-sizing: border-box;
}
.nav-header .right {
    padding-left: 60px;
    text-align: left;    
    }
.nav-header .left {
    text-align: right;
    padding-right: 0px;
}
.nav-header a {
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    cursor: pointer;
}

.nav-header a:hover {
    color: #81b3d2;
}

.nav-header a:active {
    color: #c1c1c1;
}




/* Index.html */

.main-basic {
    margin-top: -15px;
    text-align: center;
}
.main-image {
    padding-top: 75px;
    padding-bottom: 81px;
}
.background-image {
    position: relative;
    height: 508px;
    background: #517ca4 url("../img/mountains.jpg") no-repeat 50% 21%;
}
.background-image::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1200px;
    height: 58px;
    background: url(../img/cropped pattern.png) no-repeat 50% 50%;
}
.first-footer {
    display: inline-block;
    width: 400px;
    vertical-align: top;
    box-sizing: border-box;
}
.class2 {
    display: inline-block;
    width: 800px;
    height: 256px;
    vertical-align: top;
    line-height: 0;
}
.block-blue {
    background: #ffffff;
    padding-top: 60px;
    padding-bottom: 50px;
    line-height: 25px;
}
.block-blue h1 {
    margin: 0 360px;
    margin-bottom: 28px;
}
.block-blue p {
    margin: 0;
}
.block2-blue {
    color: #ffffff;
    background-color: #81b3d2;
}
.block2-blue.main-images2 {
    font-size: 0;
}
.block2-blue h2 {
    width: 154px;
    margin: 0 auto 25px;
}
.block2-blue p {
    margin-top: 21px;
}
.block2-blue:nth-child(5n) p {
    width: 220px;
    margin: 20px auto 0;
}
.block-blue img {
    width: 800px;
    height: 256px;
}
.interested {
    background: #ffffff;
}
.interested-main {
    padding: 55px 50px 47px;
}
.search-form {
    position: relative;
    width: 568px;
    margin: 0 auto;
}
.interested-main h3 {
    line-height: 24px;
    font-size: 30px;
    margin-bottom: 30px;
}
.interested-main p {
    line-height: 24px;
    margin-bottom: 0;
}
.search-container {
    display: block;
    width: 568px;
    margin: 0 auto;
    color: #ffffff;
    padding: 30px 0 30px;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-decoration: none;
    background: #766357;
}
.search-hotel {
    display: none;
    position: absolute;
    top: 85px;
    left: 0;
    width: 568px;
    padding: 57px 55px;
    margin: 0 auto;
    box-sizing: border-box;
    line-height: 26px;
    text-align: left;
    font-weight: bold;
    background: #ffffff;
    z-index: 1;
}
.search-hotel.forepart {
    display: flex;
    position: relative;
    width: 458px;
    margin-bottom: 29px;
}
.search-hotel.forepart:nth-child(2) {
    margin-bottom: 30px;
}
.search-hotel label {
    float: left;
    padding: 5px 0 7px;
}
.search-hotel.field{
    float: right;
    line-height: 26px;
    padding: 5px 15px 8px;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-transform: uppercase;
    background: #f2f2f2;
}
.search-hotel.field:hover {
    background: #ebebeb;
}
.search-hotel.field:focus {
    background: #ffffff;
    outline: 2px solid #e5e5e5;
}
.search-hotel.date {
    width: 346px;
    padding-right: 37px;
}
.search-hotel.icon-calendar {
    position: absolute;
    right: 6px;
    bottom: 0;
    font-size: 21px;
    font-weight: 200;
    line-height: 38px;
    color: #c2c2c2;
}
.search-hotel.icon-calendar:hover {
    color: #000000;
}
.search-hotel.icon-calendar:active {
    color: #81b3d2;
}
.search-hotel.half-width {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    box-sizing: border-box;
}
.half-width .unit {
    width: 114px;
    padding-left: 55px;
    padding-right: 50px;
}
.half-width:first-child .unit {
    margin-right: 3px;
}
.half-width:last-child label {
    margin-left: 50px;
}
.unit-container.btn {
    position: absolute;
    top: 0;
    padding: 6px 9px;
    line-height: 26px;
    color: #a9a9a9;
    background: #f2f2f2;
    border: none;
    outline: none;
}
.unit-container.btn:hover {
    color: #000000;
}
.unit-container .btn:active {
    color: #81b3d2;
}
.unit-container .minus-btn {
    left: 112px;
}
.unit-container .plus-btn {
    right: 0;
}
.half-width:first-child .plus-btn {
    right: 3px;
}
.half-width:last-child .minus-btn {
    left: 115px;
}
.search-hotel.find-info {
    display: block;
    width: 458px;
    margin: 0 auto;
    margin-top: 54px;
    padding: 14px 10px 15px;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    color: #ffffff;
    background: #81b3d2;
    border: none;
    outline: none; 
}
.search-hotel.find-info:hover {
    background: #669ec0;
}
.search-hotel.find-info:active {
    background: #5496bd;
}
.page-footer {
    margin-top: -120px;
}

/* Catalog.html */

.hotel-searching {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.about-hotel {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    padding-right: 75px;
}
.photo {
    padding-left: 75px;
    display: flex;
    align-content: flex-start;
}
.hotel-container {
    padding-left: 30px;
}
a.hotels {
    font-size: 21px;
    text-decoration: none;
    margin: 0;
    color: #000000;
}
a.hotels:hover {
    color: #81b3d2;
}
a.hotels:active {
    color: #b2b2b2;
}
.hotel-text span {
    color: #666666;
}
.btn-details,
.reserve-type {
    text-decoration: none;
    padding: 7px 14px;
    color: #ffffff;
}
a.btn-details {
    background-color: #81b3d2;
}
a.btn-details:hover {
    background-color: #669ec0;
}
a.btn-details:active {
    color: #88b6d1;
    background-color: #5496bd;
}
a.reserve-type {
    background-color: #766357;
}
a.reserve-type:hover {
    background-color: #604e43;
}
a.reserve-type:active {
    color: #857871;
    background-color: #503e33;
}
.stock {
    margin: 55px 0 0 0;
    padding: 10px 15px;
    background-color: #f2f2f2;
    color: #666666;
}
.stars-stock {
    padding: 0;
}
.stars {
    float: right;
}

/* Footer */

.page-footer{
    margin: 0 auto;
    padding: 35px 0;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}
.first-footer ul {
    display: flex;
    margin: 0;
}
.first-footer {
    padding: 0;
}
.first-footer ul li {
    list-style: none;
    margin: 3px;
    padding: 12px 16px;
    background-color: #81b3d2;
}
.first-footer ul li:hover {
    background-color: #669ec0;
}
.first-footer ul li:active {
    background-color: #5496bd;
}
.first-footer ul li:nth-child(2) {
    padding: 12px 19px;
}
.first-footer ul li:first-child,
.first-footer ul li:last-child {
    padding-top: 16px;
}
.developer {
    display: flex;
    align-items: center;
    margin: 0;
}
.developer span {
    padding-right: 10px;
    font-size: 14px;
    font-weight: 300;
}